{
  "CN": "master0",
  "hosts": [
    "{{ansible_hostname}}",
    "{{inventory_hostname}}"
  ],
  "key": {
    "algo": "ecdsa",
    "size": 256
  },
  "names": [
    {
      "C": "US",
      "L": "CA",
      "ST": "San Francisco"
    }
  ]
}
